* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(168, 168, 252);

}

.win-wrapper {
  position: absolute;
  background-color: #363333;
  color: white;
  border: 1px solid rgb(235, 235, 235);
  height: 240px;
  width: 350px;
  border-radius: 7px;
  min-height: 300px;
  min-width: 350px;
}

.menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  height: 25px;
  border-radius: 0 0 7px 7px;
  display: flex;
  align-items: center;
  gap: .5rem;
  padding-inline: 1rem;

}

.button {
  border-radius: 50%;
  height: 13px;
  width: 13px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
}


.close{
  background-color: #fe5252
 
}

.min{
  background-color: #7875fe;
}
.max{
  background-color: rgb(152, 222, 176);
}

.no-select {
  user-select: none;
}

.draggable {
  resize: both;
  overflow: hidden;
  position: absolute;
}

.window {
  display: none;
}